<div class="container">
    <h1>
        Powerful<br>FiveM Scripts
    </h1>
    <h3 class="describe">
        Dê vida ao seu servidor com scripts que combinam inovação, segurança e suporte dedicado.
    </h3>

    <div class="header-top-scripts">
        <h2>
            Scripts em destaque! 
        </h2>
    </div>
    <div class="top-scripts">
        <div class="card-glass">
            <h2>Tablet organizações</h2>
            <p>Tablet para gestão de organização com tudo de mais novo, e com um designer fácil de usar e colocar no seu servidor!</p>
            <p class="price">R$99,00</p>
            <button class="primary" routerLink="/scripts">Ver Scripts</button>
        </div>
        <div class="card-glass mid">
            <h2>Tablet organizações</h2>
            <p>Tablet para gestão de organização</p>
            <p class="price">R$99,00</p>
            <button class="primary" routerLink="/scripts">Ver Scripts</button>
        </div>
        <div class="card-glass">
            <h2>Tablet organizações</h2>
            <p>Tablet para gestão de organização com tudo de mais novo, e com um designer fácil de usar e colocar no seu servidor!</p>
            <p class="price">R$99,00</p>
            <button class="primary" routerLink="/scripts">Ver Scripts</button>
        </div>
    </div>

    <div class="discord">
        <div class="title">
            <h2>
                Acesse nosso discord, participe da comunidade e receba as atualizações mais recentes!
            </h2>
        </div>
        <div class="discord-card">
            <div class="title">
                <h2>Acesse nosso discord!</h2>
                <img src="./assets/images/discord-logo.png" alt="">
            </div>
            <div class="contacts">
                <p class="describe">
                    Está precisando de algo mais especifico ou não encontrou o que procurava nos nossos scripts? Não se preocupe basta entrar em contato com a gente pelo proprio discord ou nas redes: 
                </p>
                <div class="details">
                    <div class="title">
                        <h3>
                            Contatos
                        </h3>
                    </div>
                    <div class="item">
                        <span class="label">
                            Whatsapp:
                        </span> 11 98813-2299
                    </div>
                    <div class="item">
                        <span class="label">
                            Instagram:
                        </span> Skriptum_scripts
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
